/**
 * Common Style.
 *
 * @package  wp-configurator-pro/assets/frontend/css/
 * @since  3.2
 * @version  3.4.11
 */

/* configurator styles */

table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td p, th p {
    margin: 0;
}

.wpc-hidden {
    display: none;
}

.wpc-config-element a {
    text-decoration: none;
}

.wpc-preview-parent-wrap {
    padding: 0px;
}

.wpc-preview-parent-wrap.wpc-loading {
    position: relative;
    height: 500px;
    max-height: 100%;
}

.wpc-configurator.wpc-loading .wpc-carousel {
    opacity: 0;
    visibility: hidden;
}

.wpc-configurator.wpc-loading .wpc-carousel.wpc-carousel-loaded {
    opacity: 1;
    visibility: visible;
}

.wpc-loading:before {
    content: '';
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(150, 150, 150, 0.2);
    border-top-color: #9e9e9e;
    animation: trspin 1s infinite linear;
    color: black;
    right: 0px;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 201;
}

.wpc-loading:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.wpc-configurator-view.wpc-carousel.wpc-carousel-loaded {
    opacity: 1;
    visibility: visible;
}

.wpc-control-lists-inner .wpc-control-item {
    -webkit-tap-highlight-color: transparent;
}

.wpc-hide-control,
.wpc-control-item.wpc-hide-control {
    display: none;
}

.form-notice {
    position: absolute;
    color: green;
    top: 10px;
}

#screenshot-con {
    position: relative;
}

#screenshot-con .subset {
    opacity: 0;
    visibility: hidden;
}

#screenshot-con .subset.active,
#screenshot-con .subset.wpc-always-show {
    opacity: 1;
    visibility: visible;
}

/* Hotspot */
.wpc-hotspot {
    width: 36px;
    height: 36px;
    position: absolute;
    z-index: 1000;
    border: 1px solid transparent;
}

.wpc-hotspot span {
    display: block;
    background:var(--wpc-hotspot-bg);
    height: 100%;
    border-radius: 100%;
    border: 2px solid var(--wpc-hotspot-color);
    box-sizing: border-box;
    position: relative;
}

.wpc-hotspot span:after {
    content: '';
    width: 20px;
    height: 20px;
    background: var(--wpc-hotspot-color);
    position: absolute;
    border-radius: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.wpc-hotspot.active-layer-hotspot {
    z-index: 9999 !important;
    border: 1px solid #28303d;
}

.wpc-hotspot-tooltip {
    width: 210px;
    padding-top: 15px;
    text-align: center;
    position: absolute;
    left: -88px;
    margin: auto;
    opacity: 0;
    visibility: hidden;
    transition: all ease .3s;
}

.wpc-hotspot:hover .wpc-hotspot-tooltip {
    opacity: 1;
    visibility: visible;
}

.wpc-hotspot-tooltip .wpc-title {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 7px;
    color: var(--wpc-hotspot-tooltip-title-color);
}

.wpc-hotspot-tooltip .wpc-desc {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--wpc-hotspot-tooltip-description-color);
}

.wpc-hotspot-tooltip .wpc-hotspot-tooltip-inner {
    padding: 12px 14px;
    background:var(--wpc-hotspot-tooltip-bg);
    position: relative;
    box-shadow: 0px 0px 20px var(--wpc-hotspot-tooltip-box-shadow);
    border-radius: 3px;
}

.wpc-hotspot-tooltip .wpc-hotspot-tooltip-inner:before {
    content: '';
    border-bottom: 10px solid var(--wpc-hotspot-tooltip-bg);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
}

.wpc-hotspot-tooltip.wpc-tooltip-top {
    bottom: 34px;
    top: auto;
    padding-top: 0;
    padding-bottom: 15px;
}

.wpc-hotspot-tooltip.wpc-tooltip-top .wpc-hotspot-tooltip-inner:before {
    border-bottom: none;
    border-top: 10px solid var(--wpc-hotspot-tooltip-bg);
    bottom: -8px;
    top: auto;
}

.wpc-hotspot-tooltip.wpc-tooltip-left {
    top: 0;
    margin-top: -15px;
    left: auto;
    right: 34px;
    padding-top: 0;
    padding-right: 15px;
    text-align: left;
}

.wpc-hotspot-tooltip.wpc-tooltip-left .wpc-hotspot-tooltip-inner:before {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--wpc-hotspot-tooltip-bg);
    border-right: none;
    right: -8px;
    left: auto;
    top: 21px;
    bottom: auto;
}

.wpc-hotspot-tooltip.wpc-tooltip-right {
    top: 0;
    margin-top: -15px;
    right: auto;
    left: 34px;
    padding-top: 0;
    padding-left: 15px;
    text-align: left;
}

.wpc-hotspot-tooltip.wpc-tooltip-right .wpc-hotspot-tooltip-inner:before {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid var(--wpc-hotspot-tooltip-bg);
    border-left: none;
    left: -8px;
    right: auto;
    top: 21px;
    bottom: auto;
}

.blockUI.blockOverlay {
    background: none !important;
}

.wpc-clearfix {
    clear: both;
}

.wpc-layer-title-desc-wrap {
   display: inline-block;
   margin-top: -5px;
}

.wpc-control-item .wpc-layer-title-desc-wrap .wpc-layer-description {
    position: absolute;
    left: 0;
    font-size: 10px;
    line-height: 16px;
    text-align: left;
    color: var(--wpc-description-tooltip-color);
    padding: 11px 10px 9px;
    margin-top: 30px;
    margin-left: 5px;
    width: 100%;
    height: auto;
    background: var(--wpc-description-tooltip-bg);
    box-shadow: 0px 0px 8px var(--wpc-description-tooltip-box-shadow);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    margin-bottom: 10px;
    pointer-events: none;
    user-select: none;
}

.wpc-control-item .wpc-layer-title-desc-wrap:hover>.wpc-layer-description {
    opacity: 1;
    visibility: visible;
    transition: opacity ease 0.3s, visibility ease 0.3s;
}

.wpc-control-item .wpc-layer-title-desc-wrap .wpc-layer-title-desc-icon .wpc-icon {
   border-radius: 50%;
   text-align: center;
   color: var(--wpc-description-tooltip-icon-color);
}

/* WPC Form */
.wpc-field-group {
    margin-bottom: 20px;
}

.wpc-field-group-set {
    display: flex;
    margin-bottom: 20px;
}

.wpc-field-group-set > div {
    margin: 0 10px 0 0;
    width: 100%;
}

.wpc-field-group-set > div:last-child {
    margin: 0;
}

.wpc-field-group:last-child {
    margin-bottom: 0;
}

.wpc-custom-field-form input {
    width: 100% !important;
}

.wpc-custom-field-form .wpc-field-title {
    margin-bottom: 10px;
    display: block;
}

.wpc-custom-field-form .wpc-field-radio {
    margin-bottom: 8px;
    display: block;
}

.wpc-custom-field-form .wpc-field-radio label {
    cursor: pointer;
}

.wpc-custom-field-form input[type="radio"] {
    width: auto !important;
    float: left;
    margin-left: 0;
    margin-top: 4px;
    margin-right: 5px;
}

.wpc-custom-field-form select {
    width: 100%;
    border: 1px solid #dcd7ca;
    padding: 10px;
}

.wpc-notice {
    margin-bottom: 20px;
    display: block;
    font-weight: 600;
}

.wpc-success {
    color: #0f9652;
}

.wpc-error {
    color: red;
}

.wpc-update-notice {
    text-align: center;
    border: 1px solid;
    max-width: 600px;
    margin: 0 auto;
    padding: 6px 8px;
}

.wpc-field-group .error {
    font-size: 13px;
    color: red;
}

.wpc-sign {
    display: none;
}

/* Cart Page Variation */
.wpc-cart-form-cart-item dd {
    margin-bottom: 10px !important;
}

.wpc-cart-form-cart-item dt {
    font-size: 13px;
    letter-spacing: 1px;
    display: block !important;
    clear: both !important;
    float: none !important;
}

.wpc-cart-form-cart-item span.item-child-title {
    display: flex;
    align-items: center;
}

.wpc-cart-form-cart-item span.item-title-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: 8px;
}

.wpc-cart-form-cart-item .wc-item-meta .wc-item-meta-label {
    float: none;
}

.wpc-cart-form-cart-item span.item-title-inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.wpc-cart-form-cart-item span.item-child-title:after {
    content: '\38';
    font-family: 'wp-configurator' !important;
    padding: 0 6px;
    display: inline-block;
}

.wpc-cart-form-cart-item .item-child-title:last-child:after {
    content: none;
}

.wpc-cart-form-cart-item .item-child-title:last-child {
    margin-right: 10px;
}

.wpc-cart-form-cart-item .wpc-cart-after-title-link {
    text-decoration: none;
    display: inline-block;
    clear: both;
    color: #28303d !important;
    align-items: center;
    justify-content: center;
    font-size: 10px !important;
    margin-top: 10px;
    border-bottom: 1px solid;
}

.wpc-cart-form-cart-item .variation {
    display: none;
    margin-top: 10px;
}

.wpc-hover-price .woocommerce-Price-amount:nth-last-child(2),
.item-child-price .woocommerce-Price-amount:nth-last-child(2) {
    opacity: 0.6;
    position: relative;
    display: inline-block;
}

.item-child-price .woocommerce-Price-amount:nth-last-child(2) {
    margin-right: 5px;
}

.wpc-hover-price .woocommerce-Price-amount:nth-last-child(2):before,
.item-child-price .woocommerce-Price-amount:nth-last-child(2):before {
    content: '';
    border-top: 1px solid;
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(8deg);
}

/* wpc-inspiration-form */
.wpc-floating-icons {
    position: absolute;
    z-index: 9;
    list-style: none;
    margin: 0;
    left: 0px;
    padding-left: 0;
}

.wpc-floating-icons li {
    list-style: none;
    margin: 0 0 10px 0;
    position: relative;
}

.wpc-floating-icons li:last-child {
    margin-bottom: 0;
}

.wpc-floating-icons li:before {
    content: attr(data-text);
    position: absolute;
    left: 30px;
    width: 151px;
    color: #767696;
    font-size: 12px;
    top: 50%;
    margin-top: -8px;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.5s;
    text-transform: uppercase;
}

.wpc-floating-icons li:hover:before {
    opacity: 1;
    left: 45px;
    visibility: visible;
    transition: all ease-in-out 0.5s;
}

.wpc-floating-icons li:last-child span {
    margin-bottom: 0;
}

.wpc-floating-icons a {
    color: #767696;
    display: block;
    font-size: 24px;
    line-height: 1;
    text-decoration: none;
}

.wpc-floating-icons .wpc-icon {
    width: 30px;
    height: 30px;
    display: block;
    margin-bottom: 16px;
    cursor: pointer;
    position: relative;
    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
}

.wpc-form input,
.wpc-form select {
    height: 42px;
    width: 100%;
    padding: 0px 20px;
    border: 1px solid var(--wpc-input-border-color);
    color: var(--wpc-input-color);
    font-size: 13px;
    font-weight: 500;
}

.wpc-form input[type="text"] {
    font-size: 13px;
}

.wpc-form textarea {
    padding: 15px 20px;
    width: 100%;
    height: 120px;
    border: 1px solid var(--wpc-input-border-color);
    color: var(--wpc-input-color);
}

.wpc-form input:focus,
.wpc-form select:focus {
    outline: none;
}

.wpc-form label {
    display: block;
    margin-bottom: 10px;
}

.wpc-config-element .wpc-meta-pixel button {
    display: none;
}

.wpc-field-btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wpc-field-btn-group .wpc-field-group {
    margin: 0 10% 0 0;
    width: 45%;
    text-align: center;
}

.wpc-field-btn-group .wpc-field-group:last-child {
    margin: 0;
}

.wpc-primary-btn {
    font-family: var(--wpc-secondary-font);
}

.wpc-field-btn-group .wpc-field-group .wpc-primary-btn, .wpc-field-btn-group .wpc-field-group .wpc-secondary-btn {
    display: block;
    width: 100%;
}

.wpcf7-form-control-wrap {
    display: block;
    margin-top: 10px;
}

.wpc-config-element .wpc-primary-btn,
.wpc-config-element .wpcf7-submit {
    padding: 10px 20px;
    border-radius: 3px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    border: none;
    background: var(--wpc-primary-btn-bg);
    color: var(--wpc-primary-btn-color);
    border: 1px solid var(--wpc-primary-btn-border-color);
    display: inline-block;
    width: auto;
    height: 42px;
    cursor: pointer;
}

.wpc-config-element .wpc-secondary-btn {
    padding: 10px 20px;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    border: none;
    background: var(--wpc-secondary-btn-bg);
    color: var(--wpc-secondary-btn-color);
    border: 1px solid var(--wpc-secondary-btn-border-color);
    height: 42px;
    cursor: pointer;
}



.wpc-overlay {
    content: '';
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    cursor: pointer;
}

.wpc-magnify-wrapper.active .wpc-overlay {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.wpc-magnify {
    background: #fff;
    width: 700px;
    max-width: 80%;
    padding: 50px;
    height: auto;
    z-index: 11;
    border-radius: 6px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    position: relative;
}

@media screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: landscape) {
    .wpc-magnify {
        height: calc(100% - 100px);
    }
}

.wpc-magnify img {
    height: auto;
    max-width: 100%;
    width: auto;
    margin: auto;
}

.wpc-magnify-wrapper .wpc-close {
    color: var(--wpc-popup-close-icon-color);
    background: var(--wpc-popup-close-icon-bg);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    line-height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    top: -16px;
    right: -16px;
    font-size: 16px;
    z-index: 15;
    text-align: center;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.wpc-popup-wrap {
    position: absolute;
    padding: 33px 30px;
    z-index: 9999;
    display: none;
}

.wpc-config-element .wpc-popup-wrap.wpc-popup-partial {
    background: var(--wpc-partial-popup-bg);
}

.wpc-config-element .wpc-popup-wrap.wpc-popup-floating {
    background: var(--wpc-floating-popup-bg);   
}

.wpc-config-element.wpc-popup-center-overflow .wpc-popup-inner {
    background: var(--wpc-center-overflow-popup-bg);
}

.wpc-config-element.wpc-popup-wrap.wpc-popup-full .wpc-popup {
    background: var(--wpc-full-popup-bg);
}

.wpc-popup-full .wpc-popup .overlay {
    background: none;
}

.wpc-popup-wrap.wpc-popup-partial, .wpc-popup-wrap.wpc-popup-floating {
    border: 1px solid #eaeaea;
    height: auto;
}

.wpc-popup-wrap.wpc-popup-floating {
    left: 40px;
    width: 300px;
    max-width: 100%;
}

.wpc-popup-wrap .wpc-popup {
    display: none;
}

.wpc-popup-wrap .wpc-popup.active {
    display: block;
}

.wpc-popup-wrap.wpc-popup-center .wpc-popup {
    height: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 999;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.wpc-popup-wrap.wpc-popup-center.wpc-popup-active .wpc-popup.active {
    display: flex;
}

.wpc-popup-wrap.wpc-popup-full .wpc-popup {
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    right: 0;
    top: 0;
    border: 1px solid #f1f1f1;
    padding: 100px 20px;
    background: #f5f5f5;
    box-shadow: 0 0 23px #eaeaea;
    border-radius: 3px;
    flex-direction: column;
    justify-content: center;
    z-index: 9999;
    overflow: hidden;
}

.wpc-popup-wrap.wpc-popup-partial {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.wpc-popup-wrap.wpc-popup-active {
    display: block;
}

.wpc-popup-active.wpc-popup.wpc-popup-full {
    display: flex;
}

.wpc-popup-full .wpc-config-title {
    text-align: center;
}

.wpc-popup-full .wpc-form {
    width: 600px;
    max-width: 100%;
    position: relative;
    padding-bottom: 80px;
    z-index: 9;
    text-align: left;
    flex-basis: 0;
    flex-grow: 1;
    overflow: hidden;
}

.wpc-popup .overlay {
    content: '';
    background: #f5f5f5;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.wpc-popup.active .overlay {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.wpc-popup-inner .wpc-config-title {
    font-family: var(--wpc-primary-font);
    color: var(--wpc-summary-title-color);
}

.wpc-config-element .wpc-close-btn {
    position: fixed;
    background: var(--wpc-popup-close-icon-bg);
    top: 60px;
    right: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    color: var(--wpc-popup-close-icon-color);
    z-index: 10;
    cursor: pointer;
}

.wpc-popup-partial .wpc-close-btn, .wpc-popup-center-overflow .wpc-close-btn {
    position: absolute;
}

.wpc-popup-center-overflow .wpc-close-btn {
    top: 30px;
}

.wpc-close-btn:hover {
    background: #333;
    color: #fff;
}

.wpc-flyin-wrap {
    width: 450px;
    max-width: 100%;
    background: var(--wpc-flyin-bg);
    position: fixed;
    top: 0;
    transition: all ease-in-out 0.5s;
    height: 100%;
    overflow: hidden;
    z-index: 9;
}

.wpc-flyin-wrap.wpc-flyin-left.wpc-flyin-medium {
    width: 555px;
    left: -555px;    
}

.wpc-flyin-wrap.wpc-flyin-right.wpc-flyin-medium {
    width: 555px;
    right: -555px;    
}

.wpc-flyin-wrap.wpc-flyin-left.wpc-flyin-small {
    width: 450px;
    left: -450px;    
}

.wpc-flyin-wrap.wpc-flyin-right.wpc-flyin-small {
    width: 450px;
    right: -450px;    
}

.wpc-flyin-wrap.wpc-flyin-left.active {
    left: 0px;
    transition: all ease-in-out 0.5s;
}

.wpc-flyin-wrap.wpc-flyin-right.active {
    right: 0px;
    transition: all ease-in-out 0.5s;
}

.wpc-flyin-wrap .wpc-close-btn {
    color: var(--wpc-flyin-close-icon-color);
    background: var(--wpc-flyin-close-icon-bg);
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 9;
}

.wpc-flyin-wrap .wpc-close-btn i:before,
.wpc-flyin-wrap .wpc-close-btn span:before {
    vertical-align: middle;
}

.wpc-popup-inner {
    position: fixed;
    width: 640px;
    max-width: 90%;
    height: auto;
    max-height: calc(90% - 6%);
    margin: 3% auto;
    left: 0;
    right: 0;
    top: 5%;
    border: 1px solid #f1f1f1;
    padding: 5% 3%;
    background: #f5f5f5;
    box-shadow: 0 0 23px #eaeaea;
    border-radius: 3px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.wpc-popup.active .wpc-popup-inner {
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
}

.wpc-popup-full .wpc-popup-inner {
    position: static;
    background: none;
    box-shadow: none;
    border: 0;
}

/* Center Overflow */
.wpc-popup-center-overflow .wpc-popup-inner { 
    padding: 5% 2%;
    text-align: center;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.wpc-popup-center-overflow .wpc-popup.active .wpc-popup-inner {
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
}

.wpc-popup-inner.wpc-extend-height {
    height: 100%;
}

.wpc-form-main-title {
    font-size: 21px;
    margin-bottom: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

.wpc-form-title {
    font-size: 19px;
    margin: 0;
    margin-bottom: 30px;
}

.wpc-popup-inner button {
    font-family: var(--wpc-secondary-font);
}

.wpc-popup-inner .wpc-form-title {
    font-family: var(--wpc-primary-font);
    color: var(--wpc-get-quote-title-color);
}

.wpc-popup-inner input {
    font-family: var(--wpc-secondary-font);
}

.wpc-popup-inner textarea {
    font-family: var(--wpc-secondary-font);
}

.wpc-small-title {
    padding-top: 0px;
    font-size: 14px;
    color: #898989;
    margin-bottom: 20px;
    font-weight: normal;
    display: inline-block;
}

.wpc-separator-text {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 25px 0;
    display: block;
    color: #515151;
}

/* Preview Slider */

.wpc-configurator-view img,
.wpc-configurator .wpc-carousel .wpc-carousel-item img {
    max-width: none;
}

.wpc-configurator-view .wpc-carousel-nav {
    width: 100%;
    font-size: 40px;
}

.wpc-configurator-view .wpc-carousel-nav .wpc-carousel-prev,
.wpc-configurator-view .wpc-carousel-nav .wpc-carousel-next {
    float: left;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    left: 40px;
    outline: none;
    z-index: 9999;
}

.wpc-configurator-view .wpc-carousel-nav .wpc-carousel-next {
    float: right;
    left: auto;
    right: 40px;
}

.wpc-configurator-view .wpc-carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 50px;
    text-align: center;
}

.wpc-configurator-view .wpc-carousel-dot {
    float: none;
    display: inline-block;
    background: var(--wpc-preview-slider-nav-bg);
    color: var(--wpc-preview-slider-nav-color);
    border: none;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    padding: 0;
    border-radius: 50px;
}

.wpc-configurator-view .wpc-carousel-dot:hover {
    background: var(--wpc-preview-slider-nav-hover-bg);
    color: var(--wpc-preview-slider-nav-hover-color);
}

.wpc-configurator-view .wpc-carousel-dot:focus {
    outline: none;
}

.wpc-configurator-view .wpc-carousel-dot.active {
    color: var(--wpc-preview-slider-nav-active-color);
    background: var(--wpc-preview-slider-nav-active-bg);
}

.dot-style-tabs.wpc-configurator-view .wpc-carousel-dot.active {
    cursor: default;
}

.dot-style-tabs.wpc-configurator-view .wpc-carousel-dot {
    width: auto;
    height: auto;
    padding: 5px 20px;
    margin-bottom: 10px;
}

.dot-style-tabs.wpc-configurator-view.dot-position-top .wpc-carousel-dots {
    top: 0;
    bottom: auto;
}

.wpc-preview-inner {
    width: 100%;
}

.subset {
    position: absolute;
}

.wpc-configurator .subset {
    display: none;
}

.wpc-configurator .subset.active {
    display: block;
}

.wpc-configurator .subset.wpc-always-show {
    display: block;
}

.wpc-configurator-view.wpc-carousel {
    display: block;
    opacity: 0;
    visibility: hidden;
}

.wpc-show-details {
    position: absolute;
    left: 80px;
    bottom: 60px;
    z-index: 9;
}

.wpc-show-details .wpc-primary-btn {
    border-radius: 50px;
}

.wpc-active-layer-icons {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.wpc-active-layer-icon {
    position: relative;
    width: 10px;
    height: 20px;
    z-index: 1;
}

.wpc-controls-wrap .wpc-active-layer-icon .custom-icon-img {
    width: 20px;
    height: 20px;
    min-width: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.wpc-controls-wrap .wpc-sub-control .wpc-active-layer-icon .wpc-control-item-color {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.wpc-controls-wrap .wpc-active-layer-icon .custom-icon-color {
    box-shadow: none;
}

@media screen and (max-width: 360px) {
  
    .wpc-field-btn-group .wpc-field-group {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
}


/* Get a Quote */
.wpc-popup-full .cart input[type='text'],
.wpc-popup-full .cart input[type='email'],
.wpc-popup-full .cart input[type='url'],
.wpc-popup-full .cart input[type='password'],
.wpc-popup-full .cart input[type='search'],
.wpc-popup-full .cart input[type='number'],
.wpc-popup-full .cart input[type='tel'],
.wpc-popup-full .cart input[type='range'],
.wpc-popup-full .cart input[type='date'],
.wpc-popup-full .cart input[type='month'],
.wpc-popup-full .cart input[type='week'],
.wpc-popup-full .cart input[type='time'],
.wpc-popup-full .cart input[type='datetime'],
.wpc-popup-full .cart input[type='datetime-local'],
.wpc-popup-full .cart input[type='color'],
.wpc-popup-full .cart .select2-container .select2-choice,
.wpc-popup-full .cart textarea,
.wpc-popup-full .cart .select2-drop.select2-drop-above,
.wpc-popup-full .cart .select2-drop-active,
.wpc-popup-full .cart select,
.wpc-popup-full .cart .select2-container--default .select2-selection--single,
.wpc-popup-full .cart .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
.wpc-popup-full .cart .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.wpc-popup-full .cart .field-group select {
    background: #fbfbfb;
    border: 1px solid #d8d8d8;
    margin-bottom: 20px;
    border-radius: 3px;
    height: 50px;
    width: 100%;
    padding: 0px 25px;
}

.wpc-popup-full .cart input[type='text'],
.wpc-popup-full .cart input[type='email'],
.wpc-popup-full .cart input[type='url'],
.wpc-popup-full .cart input[type='password'],
.wpc-popup-full .cart input[type='search'],
.wpc-popup-full .cart input[type='number'],
.wpc-popup-full .cart input[type='tel'],
.wpc-popup-full .cart input[type='range'],
.wpc-popup-full .cart input[type='date'],
.wpc-popup-full .cart input[type='month'],
.wpc-popup-full .cart input[type='week'],
.wpc-popup-full .cart input[type='time'],
.wpc-popup-full .cart input[type='datetime'],
.wpc-popup-full .cart input[type='datetime-local'],
.wpc-popup-full .cart input[type='color'],
.wpc-popup-full .cart .select2-container .select2-choice,
.wpc-popup-full .cart textarea,
.wpc-popup-full .cart .select2-drop.select2-drop-above,
.wpc-popup-full .cart .select2-drop-active,
.wpc-popup-full .cart select,
.wpc-popup-full .cart .select2-container--default .select2-selection--single,
.wpc-popup-full .cart .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
.wpc-popup-full .cart .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.wpc-popup-full .cart .field-group select {
    margin-bottom: 5px;
}

.wpc-submitting-form button {
    pointer-events: none;
    opacity: 0.8;
}

.wpc-submitting-form .wpc-btn-text {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
  
.wpc-submitting-form .wpc-btn-text:before {
    content: '';
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(150, 150, 150, 0.2);
    border-top-color: #c1c1c1;
    animation: trspin 1s infinite linear;
    color: black;
    right: 9px;
    display: inline-block;
    position: relative;
    margin: auto;
}

@-webkit-keyframes trspin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes trspin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}





.wpc-popup-full .cart input[type='submit'] {
    background: #191919;
    color: #fff;
    padding: 10px 30px;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.5;
    transition: all ease 0.3s;
}

.wpc-popup-full .cart textarea {
    height: 150px;
    border-radius: 3px;
    padding: 10px 25px;
    margin-bottom: 5px;
    background: #fbfbfb;
    border: 1px solid #d8d8d8;
}

.wpc-popup-full .cart button {
    padding: 10px 30px;
    float: left;
}

.wpc-summary-btn-icon {
    display: none;
}

.wpc-summary-content-inner {
    height: 100%;
    overflow-y: auto;
}

.wpc-summary-content-inner-child {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    max-height: 100%;
    margin: 0 auto;
    height: 100%;
}

.wpc-has-summary .wpc-summary-content-inner-child, .wpc-has-summary .wpc-config-title-inner {
    max-width: 1200px
}

.wpc-summary-lists-wrap {
    text-align: left;
    flex-basis: 0;
    flex-grow: 1;
    padding-right: 80px;
}

.wpc-summary-list ul {
    padding-left: 0;
    margin: 0;
}

.wpc-summary-list > ul {
    border-bottom: 1px solid var(--wpc-summary-border-color);
    padding-bottom: 9px;
}

.wpc-summary-list ul li,
.wpc-summary-total-wrap .wpc-summary-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--wpc-summary-border-color);
    text-transform: uppercase;
    margin: 0;
    padding: 9px 0;
    font-weight: bold;
    color: var(--wpc-summary-price-color);
    font-size: 16px;
    line-height: 1.8;
    font-family: var(--wpc-secondary-font);
}

.wpc-summary-list ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.wpc-summary-list li ul li {
    justify-content: flex-start;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    border: none;
    font-family: var(--wpc-secondary-font);
}

.wpc-summary-list.wpc-hide-item-price li > ul > li .wpc-summary-list-child-wrap span:last-child:after {
    display: none;
}

.wpc-summary-total-wrap .wpc-summary-total {
    align-items: flex-end;
    color: var(--wpc-summary-total-title-color);
    font-weight: 500;
    font-size: 26px;
    padding-top: 15px;
    margin: 0;
    margin-bottom: 0;
    border-color: var(--wpc-summary-border-color);
}

.wpc-summary-total-wrap .wpc-summary-list-total-price {
    color: var(--wpc-summary-total-price-color);
}

.wpc-summary-total-wrap .wpc-summary-total .wpc-summary-list-title {
    font-size: 21px;
    font-family: var(--wpc-primary-font);
}

.wpc-summary-total-wrap .wpc-summary-list-regular-price {
    opacity: .5;
    position: relative;
}

.wpc-summary-total-wrap .wpc-summary-list-regular-price:before {
    content: '';
    border-top: 2px solid;
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
    transform: rotate(10deg);
}

.wpc-summary-list ul li .wpc-summary-list-title {
    font-family: var(--wpc-primary-font);
    color: var(--wpc-summary-list-title-color);
    font-size: 14px;
}

.wpc-summary-list-child-wrap {
    color: var(--wpc-summary-child-list-color);
}

.wpc-summary-list ul li .wpc-summary-list-child-wrap .wpc-summary-list-child-title {
    display: flex;
    align-items: center;
    float: left;
}

.wpc-summary-list-child-title:after {
    content: '\38';
    font-family: 'wp-configurator' !important;
    color: var(--wpc-summary-child-list-separator-color);
    padding: 0 6px;
    display: inline-block;
}

.wpc-summary-list li>ul {
    flex-basis: 100%;
    margin-left: 0;
}

.wpc-config-title {
    font-size: 24px;
    margin-bottom: 65px;
    font-weight: bold;
}

.wpc-summary-title {
    color: var(--wpc-summary-title-color);
    margin: 0;
    font-size: 21px;
}

.wpc-summary-lists-wrap .wpc-summary-title,
.wpc-popup-full .wpc-form-title {
    font-size: 21px;
    margin: 0;
    margin-bottom: 30px;
    text-transform: none;
}

.wpc-popup-full .wpc-summary-lists-wrap .wpc-summary-title {
    display: none;
}

.wpc-popup-inner .wpc-share-inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.wpc-popup-inner .wpc-share-inner .wpc-share-icon {
    width: 20%;
}

.wpc-popup-inner .wpc-share-inner .wpc-share-icon .wpc-icon {
    width: var(--wpc-share-icon-dimension);
    height: var(--wpc-share-icon-dimension);
    line-height: var(--wpc-share-icon-line-height);
    margin: 0 auto;
    border-radius: var(--wpc-share-icon-border-radius);
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    font-size: 21px;
}

.wpc-popup-inner .wpc-share-inner .wpc-share-icon .wpc-share-label {
    font-size: 13px;
    font-weight: normal;
    color: #898989;
}

.wpc-copy-clipboard {
    cursor: pointer;
}

.wpc-popup-inner .wpc-share-inner .wpc-share-icon .wpc-copy-clipboard {
    background: var(--wpc-copy-link-bg);
    color: var(--wpc-copy-link-color);
}

.wpc-popup-inner .wpc-share-inner .wpc-share-icon .wpc-facebook {
    background: var(--wpc-facebook-bg);
    color: var(--wpc-facebook-color);
}

.wpc-popup-inner .wpc-share-inner .wpc-share-icon .wpc-twitter {
    background: var(--wpc-twitter-bg);
    color: var(--wpc-twitter-color);
}

.wpc-popup-inner .wpc-share-inner .wpc-share-icon .wpc-linkedin {
    background: var(--wpc-linkedin-bg);
    color: var(--wpc-linkedin-color);
}

.wpc-popup-inner .wpc-share-inner .wpc-share-icon .wpc-pinterest {
    background: var(--wpc-pinterest-bg);
    color: var(--wpc-pinterest-color);
}

.wpc-popup-inner .wpc-share-inner .wpc-share-icon .wpc-reddit {
    background: var(--wpc-reddit-bg);
    color: var(--wpc-reddit-color);
}

.wpc-share-parent-wrap.active:after {
    content: '';
    background: #000000a3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.wpc-share-parent-wrap .wpc-popup-inner h2  {
    margin: 0px 0px 5px 0px;
    font-size: 24px;
}

.wpc-share-parent-wrap.wpc-config-element .wpc-icon {
    display: none;
}



/* Config Cart Form */
.wpc-cart-form-wrapper .wpc-popup-full {
    padding: 0;
}

.wpc-cart-form-wrapper .wpc-popup-full-child {
    padding: 0px 20px;
    height: 100%;
}

.wpc-config-title-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 60px 20px 30px;
    z-index: 9;
}

.wpc-config-title-inner {
    max-width: 800px;
    margin: auto;
}

.wpc-summary-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wpc-summary-content-wrap {
    padding: 240px 0px 50px 0px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 8;
    height: 100vh;
}

.wpc-cart-form-summary-popup .wpc-summary-lists-wrap {
    padding-right: 0;
}

.wpc-popup.wpc-quote-form-summary-popup .wpc-summary-content-wrap {
    padding: 190px 0px 50px 0px;
    height: 100vh;
}

.wpc-cart-form-wrapper .wpc-popup-full .wpc-config-title {
    margin: 0;
    margin-bottom: 35px;
}

.wpc-cart-form-wrapper .wpc-summary-content-wrap .wpc-summary-lists-wrap {
    padding: 50px 0;
}

.wpc-form.wpc-cart-form.cart {
    margin-bottom: 20px;
}

.wpc-form .wpc-btn-icon {
    display: none;
}


/* Inspiration */
.wpc-inspiration-tab-wrapper .wpc-carousel-dots {
    text-align: center;
}

.wpc-inspiration-tab-wrapper .wpc-carousel-dot {
    background: #28303d;
    border: none;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    padding: 0;
    border-radius: 50px;
}

.wpc-inspiration-tab-wrapper .wpc-carousel-dot:focus {
    outline: none;
}

.wpc-inspiration-tab-wrapper .wpc-carousel-dot:last-child {
    margin-right: 0;
}

.wpc-inspiration-tab-wrapper .wpc-carousel-dot.active {
    background: #be3658;
}

.wpc-inspiration-tab-wrapper .wpc-carousel-nav {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    margin-top: -40px;
    z-index: -1;
}

.wpc-inspiration-tab-wrapper .wpc-carousel-nav .wpc-carousel-prev:before,
.wpc-inspiration-tab-wrapper .wpc-carousel-nav .wpc-carousel-next:before {
    font-family: 'configurator-icon' !important;
    content: '\6e';
    cursor: pointer;
    font-size: 40px;
}

.wpc-inspiration-tab-wrapper .wpc-carousel-nav .wpc-carousel-next {
    float: right;
}

.wpc-inspiration-tab-wrapper .wpc-carousel-nav .wpc-carousel-next:before {
    content: '\6f';
}

.wpc-inspiration-tab-wrapper .wpc-tab .wpc-carousel {
    padding: 0px 45px;
}

.wpc-title {
    margin-top: 15px;
}

.wpc-inspiration-inner .wpc-title {
    font-family: var(--wpc-primary-font);
    color: var(--wpc-inspiration-main-title-color);
    text-align: center;
    font-size: 21px;
    margin: 0 0 30px 0;
}

.wpc-inspiration-inner .wpc-inspiration-tab-wrapper ul {
    display: inline-block;
    float: left;
    width: 100%;
    padding-left: 0;
    margin: 0px 0px 30px;
    text-align: center;
}

.wpc-inspiration-inner .wpc-inspiration-tab-wrapper li {
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    display: inline-block;
    background: var(--wpc-inspiration-tab-menu-bg);
    color: var(--wpc-inspiration-tab-menu-color);
    font-size: 11px;
    border-radius: 50px;
    height: 33px;
    margin-right: 20px;
    line-height: 35px;
    padding: 0px 30px;
    font-family: var(--wpc-secondary-font);
}

.wpc-inspiration-inner .wpc-inspiration-tab-wrapper li:hover {
    background: var(--wpc-inspiration-tab-menu-hover-bg);
    color: var(--wpc-inspiration-tab-menu-hover-color);
}

.wpc-inspiration-inner .wpc-inspiration-tab-wrapper li:last-child {
    margin-right: 0px;
}

.wpc-inspiration-inner .wpc-inspiration-tab-wrapper .delete-btn {
    margin-left: 3px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.3s;
}

.wpc-inspiration-inner .wpc-inspiration-tab-wrapper li:hover .delete-btn {
    margin-left: 5px;
    opacity: 1;
    visibility: visible;
    transition: all ease-in-out 0.5s;
}

.wpc-inspiration-inner .wpc-inspiration-tab-wrapper li.active {
    background: var(--wpc-inspiration-tab-menu-active-bg);
    color: var(--wpc-inspiration-tab-menu-active-color);
    font-weight: 600;
}

.wpc-inspiration-inner .wpc-tab {
    display: none;
}

.wpc-inspiration-inner .wpc-inspiration-tab-content .wpc-tab.active {
    display: block;
}

.wpc-inspiration-admin-icons {
    position: absolute;
    top: 0;
    left: 30px;
}

.wpc-inspiration-img {
    margin: 0 auto;
    position: relative;
}

.wpc-inspiration-img img {
    margin: 0 auto;
}

.wpc-inspiration-list:hover .wpc-inspiration-admin-icons {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition: all ease-in-out 0.5s;
}

.wpc-inspiration-admin-icons span {
    display: block;
    margin-bottom: 10px;
    background: var(--wpc-inspiration-admin-icon-bg);
    color: var(--wpc-inspiration-admin-icon-color);
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transform: translateX(-30px);
    transition: all ease .3s;
}

.wpc-inspiration-inner .wpc-inspiration-list:hover .wpc-inspiration-admin-icons>span {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}

.wpc-inspiration-inner .wpc-inspiration-img .wpc-inspiration-meta-icons>span:nth-child(2) {
    transition: all ease .4s;
}

.wpc-inspiration-inner .wpc-inspiration-img .wpc-inspiration-meta-icons>span:nth-child(3) {
    transition: all ease .5s;
}

.wpc-inspiration-inner .wpc-inspiration-tab-content {
    clear: both;
}

.wpc-inspiration-inner .wpc-inspiration-list {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0 15px;
}

.wpc-inspiration-inner .wpc-inspiration-list .btn {
    font-family: var(--wpc-secondary-font);
}

.wpc-inspiration-list p.title {
    font-family: var(--wpc-primary-font);
}

.wpc-inspiration-list .wpc-list-title {
    color: var(--wpc-inspiration-list-title-color);
    font-weight: 700;
    font-size: 16px;
}

.wpc-inspiration-list .wpc-list-desc {
    font-family: var(--wpc-secondary-font);
    font-size: 14px;
    color: var(--wpc-inspiration-list-desc-color);
    font-weight: normal;
    margin: 0px;
}

.wpc-inspiration-list .wpc-list-price {
    color: var(--wpc-inspiration-list-price-color);
    margin: 0;
}

.wpc-inspiration-list .wpc-reset-components {
    text-decoration: none;
    padding: 8px 18px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 10px 0 10px 0;
    border-radius: 50px;
    height: auto;
}

.wpc-flyin-inspiration-parent-wrap .wpc-close-btn {
    position: absolute;
    top: 40px;
}

.wpc-flyin-inspiration-parent-wrap .wpc-inspiration-inner .wpc-inspiration-tab-wrapper li {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.wpc-flyin-inspiration-parent-wrap {
    overflow-y: auto;
}

.wpc-flyin-inspiration-parent-wrap .wpc-inspiration-lists {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.wpc-flyin-inspiration-parent-wrap .wpc-inspiration-lists .wpc-inspiration-list {
    width: 50%;
    margin: 0;
    margin-bottom: 30px;
}

.wpc-flyin-inspiration-parent-wrap .wpc-inspiration-lists .wpc-inspiration-list .wpc-inspiration-img {
    margin-bottom: 5px;
} 

.wpc-flyin-inspiration-parent-wrap .wpc-inspiration-inner  {
    padding-top: 50px;
}

.wpc-flyin-inspiration-parent-wrap .wpc-inspiration-list .wpc-list-title {
    margin: 0px 0px 4px 0px;
}

.wpc-flyin-inspiration-parent-wrap .wpc-inspiration-list .wpc-list-desc {
    margin: 0px 0px 8px 0px;
}


.wpc-control-type-inline-text .wpc-control-item-info {
    display: none;
}

.wpc-control-close-text {
    display: none;
}

/* Header */
#wpc-logo {
    float: left;
    display: block;
    margin-right: 30px;
}

#wpc-logo img {
    width: auto;
    max-width: 100%;
    height: 50px;
    vertical-align: middle;
}

.wpc-header-parent-wrap {
    margin-top: 32px;
    position: relative;
    z-index: 3;
    transition: all ease-in-out 0.5s;
    left: 0;
    line-height: 50px;
    background: var(--wpc-header-background-color);
}

body.admin-bar .wpc-mobile-nav {
    margin-top: 32px;
}

.wpc-mobile-menu,
.wpc-mobile-nav,
.wpc-menu-trigger {
    display: none;
}

.wpc-single-menu {
    float: right;
}

.wpc-single-menu ul {
    list-style: none;
    margin-top: 0;
}

.wpc-single-menu li {
    float: left;
    padding: 0 30px 0 0;
    position: relative;
    color: var(--wpc-header-menu-color);
}

.wpc-single-menu li a {
    font-size: 16px;
    color: var(--wpc-header-menu-color);
}

.wpc-single-menu ul.sub-menu {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    width: 240px;
    border: 1px solid var(--wpc-sub-menu-wrapper-border-color);
    position: absolute;
    padding: 15px 0;
    line-height: 2;
    box-shadow: 0 1px 1px var(--wpc-sub-menu-wrapper-boxshadow-color);
    /* background: #fff; */
    background: var(--wpc-sub-menu-bg);
    font-weight: normal;
    -webkit-backface-visibility: hidden;
    transition: all ease-in-out 0.3s;
    margin-left: 0;
}

.wpc-single-menu li:hover > ul.sub-menu {
    visibility: visible;
    overflow: visible;
    opacity: 1;
}

.wpc-single-menu .sub-menu li {
    float: none;
    display: block;
    padding: 0;
    position: relative;
    margin-bottom: 0;
    text-align: left;
    letter-spacing: 1px;
    text-transform: none;
    margin-right: 0;
}

.wpc-single-menu .sub-menu li a {
    font-size: 15px;
    display: block;
    padding: 0 20px;
    transition: all ease-in-out 0.3s;
}

.wpc-single-menu .sub-menu li a:hover {
    padding-left: 28px;
}

.wpc-single-menu .wpc-angle-down {
    display: none;
}

.wpc-single-menu .menu-item-has-children > .wpc-angle-down {
    display: inline-block;
}

/* Mobile Menu */
.wpc-mobile-menu {
    display: block;
}

.wpc-mobile-nav {
    display: none;
    font-size: 15px;
    position: fixed;
    left: -300px;
    top: 0px;
    max-width: 100%;
    width: 300px;
    background: var(--wpc-flyin-bg);
    height: 100%;
    z-index: 999;
    overflow: hidden;
    transition: all ease-in-out 0.5s;
}

.wpc-mobile-nav.active {
    left: 0px;
    transition: all ease-in-out 0.5s;
}

.wpc-mobile-inner {
    height: calc(100% - 75px);
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 0;
}

.wpc-mobile-nav ul {
    list-style: none;
    margin: 0px;
    padding-left: 0;
}

.wpc-mobile-nav .menu .sub-menu {
    font-size: 14px;
    margin: 0 0 15px 0;
}

.wpc-mobile-nav .sub-menu,
.wpc-mobile-nav .sub-menu .sub-menu {
    display: none;
}

.wpc-mobile-nav li {
    position: relative;
    border-bottom: 1px solid var(--wpc-moblie-menu-border-color);
    color: var(--wpc-moblie-menu-color);
}

.wpc-mobile-nav li:before {
    content: none;
}

.wpc-mobile-nav .sub-menu li:last-child {
    border-bottom: none;
}

.wpc-mobile-nav li a {
    display: block;
    padding: 15px 0 15px 15px;
    color: var(--wpc-moblie-menu-color);
}

.wpc-mobile-nav .sub-menu li {
    border: 0;
}

.wpc-mobile-nav .sub-menu li a {
    padding: 10px 0 5px 25px;
}

.wpc-mobile-nav .sub-menu .sub-menu li a {
    padding-left: 35px;
}

.wpc-mobile-nav .wpc-menu-toggle {
    display: none;
}

.wpc-menu-toggle {
    display: none;
}

.menu-item-has-children > .wpc-menu-toggle {
    text-align: center;
    line-height: 50px;
    display: initial;
    width: 40px;
    height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

#wpc-header-element-right-wrapper {
    float: right;
    position: relative;
}

#wpc-header-element-right-wrapper .wpc-price-wrap {
    font-size: 24px;
    float: left;
    margin-bottom: 0;
}

#wpc-header-element-right-wrapper .wpc-price-wrap .wpc-calculation {
    color: var(--wpc-header-element-price-color);
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}

.wpc-header-element-right {
    float: left;
}

#wpc-header-element-right-wrapper .wpc-icon {
    width: 50px;
    height: 50px;
    background: var(--wpc-header-element-icon-bg);
    color: var(--wpc-header-element-icon-color);
    line-height: 50px;
    float: left;
    text-align: center;
    font-size: 25px;
    margin-left: 15px;
    cursor: pointer;
}

#wpc-header-element-right-wrapper .wpc-config-element {
    float: left;
    margin-left: 15px;
}

#wpc-header-element-right-wrapper .wpc-config-element .wpc-icon {
    margin-left: 0;
}

#wpc-header-element-right-wrapper .wpc-config-element .wpc-primary-btn, #wpc-header-element-right-wrapper .wpc-config-element .wpc-secondary-btn {
    line-height: initial;
}

#wpc-header-element-right-wrapper .icon:before {
    line-height: inherit;
}

/* Header Share */
.wpc-header-element-right .wpc-share-parent-wrap {
    position: relative;
    float: left;
}

.wpc-header-element-right .wpc-share-parent-wrap.active:after {
    content: none;
}

.wpc-header-element-right .wpc-share-parent-wrap .wpc-share-inner {
    position: absolute;
    right: 50px;
    top: 0;
    background: #f7f7fb;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    margin-bottom: 0;
    transition: all ease 0.5s;
    z-index: 4;
}

.wpc-header-element-right .wpc-share-parent-wrap.wpc-config-element .wpc-icon {
    display: block;
}

.wpc-header-element-right .wpc-share-parent-wrap .wpc-share-inner a, .wpc-header-element-right .wpc-share-parent-wrap .wpc-share-inner span {
    color: #767696;
    padding: 0 10px;
    margin-right: 0;
    margin-bottom: 0;
    cursor: pointer;
    transition: all ease 0.3s;
}  

.wpc-header-element-right .wpc-share-parent-wrap .wpc-share-inner a:hover, .wpc-header-element-right .wpc-share-parent-wrap .wpc-share-inner span:hover {
    color: #9b9b9b;
}

.wpc-header-element-right .wpc-share-parent-wrap .wpc-share-inner a:last-child {
    margin-bottom: 0;
}

#wpc-panorama-header-element-right .wpc-share-parent-wrap .wpc-icon {
    margin-left: 0;
}

.wpc-share-parent-wrap:hover .wpc-share-inner {
    opacity: 1;
    visibility: visible;
}


.wpc-field-group.wpc-checkbox input.wpc-field-text {
    width: 20px;
    height: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    top: 0;
    float: left;
}

.wpc-field-group.wpc-checkbox .wpc-field-label {
    display: block;
}

.wpc-total-price-parent-wrap .wpc-single-price .wpc-price-value.wpc-regular-price {
    position: relative;
    opacity: .5;
}

.wpc-total-price-parent-wrap .wpc-single-price .wpc-price-value.wpc-regular-price:before {
    content: '';
    border-top: 2px solid;
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
    transform: rotate(10deg);
}

/* Notice */
.wpc-full-window-style .woocommerce-message {
    position: absolute;
    z-index: 999;
    left: 50%;
    text-align: center;
    background: #000;
    color: #fff;
    padding: 20px 40px;
    display: inline-block;
    transform: translateX(-50%) translateY(-150px);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    animation: noticeAnimate 5s 1;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}
 
.wpc-full-window-style .woocommerce-message a {
    padding: 10px 20px;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: normal;
    border: none;
    background: #fff;
    color: #0d0d1a;
    display: inline-block;
    margin-left: 15px;
}
 
 @keyframes noticeAnimate {
    0% {
       opacity: 1;
       animation-delay: 3s;
    }
 
    0% {
       opacity: 1;
       transform: translateX(-50%) translateY(-150px);
    }
 
    25% {
       opacity: 1;
       transform: translateX(-50%) translateY(0%);
    }
 
    75% {
       opacity: 1;
       transform: translateX(-50%) translateY(0%);
    }
 
    90% {
       opacity: 1;
       transform: translateX(-50%) translateY(0%);
    }
 
    100% {
       opacity: 0;
       display: none;
       z-index: -1;
       transform: translateX(-50%) translateY(-50%);
    }
 }
 
 

@media screen and (max-width: 1260px) {
    .wpc-summary-content-inner {
        padding: 0px 20px;
    }
}

@media screen and (max-width: 1024px) {
    #wpc-logo img {
        height: auto;
        vertical-align: top;
    }

    .wpc-popup-full {
        display: block;
    }

    .wpc-menu-trigger {
        display: inline-block;
        margin-left: 20px;
        font-size: 27px;
        color: var(--wpc-moblie-menu-trigger-color);
    }

    .wpc-config-element .wpc-close-btn {
        color: var(--wpc-flyin-close-icon-color);
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    .wpc-flyin-logo {
        padding: 10px;
        position: relative;
    }

    .wpc-mobile-nav {
        display: block;
    }

    .wpc-single-menu {
        display: none;
    }

    .wpc-summary-content-inner {
        /* display: block;
        width: 480px;
        max-width: 100%; */
        padding: 0px 20px;
    }

    .wpc-summary-content-inner-child {
        display: block;
    }

    .wpc-popup-full .wpc-form {
        width: 100%;
    }

    .wpc-summary-lists-wrap {
        width: 100%;
        padding-right: 0;
        margin-bottom: 80px;
    }

    .wpc-cart-form-wrapper .wpc-summary-content-wrap .wpc-summary-lists-wrap {
        margin-bottom: 0;
    }

    .wpc-cart-form-wrapper .wpc-summary-content-inner {
        width: 100%;
        /* padding-left: 0;
        padding-top: 150px; */
    }
    
    .wpc-magnify-wrapper .wpc-close {
        color: #000;
        background: none;
        top: 0;
        right: 0;
    }

    .wpc-magnify {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .wpc-control-item .wpc-layer-title-desc-wrap >.wpc-layer-description {
        display: none;
        opacity: 1;
        visibility: visible;
    }

    .wpc-control-item .wpc-layer-title-desc-wrap.active >.wpc-layer-description {
        display: block;
        margin-top: 10px;
    }

    .admin-bar .wpc-flyin-inspiration-parent-wrap .wpc-inspiration-inner {
        padding-top: 82px;
    }
    
    .admin-bar .wpc-config-element .wpc-close-btn {
        top: 50px;
    }
}

@media screen and (max-width: 600px) {
    .wpc-popup-full {
        padding: 50px;
    }

    .wpc-summary-content-inner {
        width: 100%;
        /* width: calc(100% - 40px); */
    }

    a.wpc-close-btn {
        top: 20px;
        width: 30px;
        height: 30px;
        line-height: 33px;
        font-size: 10px;
    }

    .wpc-cart-form-wrapper .wpc-summary-title-wrap {
        display: block;
        text-align: center;
    }

    .wpc-cart-form-wrapper .wpc-summary-title {
        margin: 0;
        margin-bottom: 20px;
    }

    .wpc-config-title-wrap {
        padding-top: 30px;
    }

    .wpc-cart-form-wrapper .wpc-popup-full .wpc-config-title {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .wpc-summary-lists-wrap .wpc-summary-title {
        font-size: 30px;
    }

    .wpc-summary-lists-wrap .wpc-config-title {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .wpc-header-parent-wrap {
        text-align: center;
        margin-top: 10px;
    }

    #wpc-header-element-right-wrapper {
        clear: both;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        float: none;
    }

    #wpc-logo {
        display: flex;
        float: none;
        margin-bottom: 10px;
        margin-right: 0;
        justify-content: center;
    }

    .wpc-header-element-right {
        margin: 0;
        display: inline-block;
    }

    .wpc-flyin-inspiration-parent-wrap .wpc-inspiration-lists .wpc-inspiration-list {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .wpc-popup-full {
        padding: 50px 30px;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    #wpc-header-element-right-wrapper .icon {
        line-height: 40px;
        height: 40px;
    }

    #wpc-header-element-right-wrapper .icon:after {
        font-size: 13px;
    }
}

@media screen and (max-width: 767px) {
    .wpc-inspiration-inner .wpc-inspiration-list {
        margin-left: 0;
    }

    .wpc-inspiration-list img {
        display: inline-block !important;
    }

    .wpc-inspiration-tab-wrapper .wpc-tab .wpc-carousel {
        padding: 0px 15px;
    }
}
