/**
 * Configurator Icons.
 *
 * @package  wp-configurator-pro/assets/icon/
 * @since  2.0
 * @version  3.4.9
 */

@charset "UTF-8";

@font-face {
    font-family: 'wp-configurator';
    src: url("../../assets/font/icon.ttf") format('truetype'),
        url("../../assets/font/icon.woff") format('woff'),
        url("../../assets/font/icon.svg") format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='wpc-']:before,
[class*=' wpc-']:before {
    font-family: 'wp-configurator' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: -2px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wpc-help:before {
    content: '\e900';
}
.wpc-angle-down:before {
    content: '\21';
}
.wpc-angle-up:before {
    content: '\22';
}
.wpc-minus:before {
    content: '\30';
}
.wpc-plus:before {
    content: '\31';
}
.wpc-cross-simple:before {
    content: '\34';
}
.wpc-tick:before {
    content: '\35';
}
.wpc-pencil:before {
    content: '\36';
}
.wpc-trash:before {
    content: '\37';
}
.wpc-angle-right:before {
    content: '\38';
}
.wpc-angle-left:before {
    content: '\39';
}
.wpc-sort:before {
    content: '\49';
}
.wpc-info:before {
    content: '\4a';
}
.wpc-mail:before {
    content: '\4b';
}
.wpc-image:before {
    content: '\4c';
}
.wpc-full-screen:before {
    content: '\50';
}
.wpc-chevron-down:before {
    content: '\57';
}
.wpc-chevron-up:before {
    content: '\58';
}
.wpc-like:before {
    content: '\61';
}
.wpc-camera:before {
    content: '\62';
}
.wpc-save:before {
    content: '\63';
}
.wpc-reset:before {
    content: '\64';
}
.wpc-inspiration:before {
    content: '\65';
}
.wpc-settings:before {
    content: '\66';
}
.wpc-share:before {
    content: '\67';
}
.wpc-menu:before {
    content: '\68';
}
.wpc-close:before {
    content: '\6a';
}
.wpc-prev-arrow:before {
    content: '\6b';
}
.wpc-next-arrow:before {
    content: '\6c';
}
.wpc-basket:before {
    content: '\6d';
}
.wpc-facebook:before {
    content: '\6f';
}
.wpc-linkedin:before {
    content: '\72';
}
.wpc-pinterest:before {
    content: '\73';
}
.wpc-refresh:before {
    content: '\74';
}
.wpc-twitter:before {
    content: '\75';
}
.wpc-cross:before {
    content: '\76';
}
.wpc-copy:before {
    content: '\77';
}
.wpc-arrow-left:before {
    content: '\78';
}
.wpc-sidebar:before {
    content: '\79';
}
.wpc-arrow-right:before {
    content: '\7a';
}
.wpc-reddit:before {
    content: '\20ac';
}
.wpc-blocked:before {
    content: '\e901';
}
.wpc-solid-heart:before {
    content: '\f004';
}
.wpc-solid-star:before {
    content: '\f005';
}
.wpc-star:before {
    content: '\f006';
}
.wpc-check:before {
    content: '\f00c';
}
.wpc-heart:before {
    content: '\f08a';
}
